@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  background-color: #F8FAFC; /* light background */
  color: #0F172A; /* dark text */
  font-family: 'Inter', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.clip-path-custom {
  clip-path: ellipse(75% 100% at 100% 50%);
}

/* Hide scrollbar (Chrome, Edge, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}